<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<target xsi:type="Database" name="database"
		  connectionString="data source=DESKTOP-B159TJH;initial catalog=AracIhale;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"
	commandText="INSERT INTO Giri (GirisID,KullaniciID,RolID,KullaniciAdi,GirisZamani)
				VALUES (@giris_id, @kullanici_id, @rol_id, @kullanici_adi, @log_date)">

			<parameter name="@giris_id" layout="${event-context:item=giris_id}"/>
			<parameter name="@kullanici_id" layout="${event-context:item=kullanici_id}" />
			<parameter name="@rol_id" layout="${event-context:item=rol_id}" />
			<parameter name="@kullanici_adi" layout="${event-context:item=kullanici_adi}" />
			<parameter name="@log_date" layout="${date}"/>
		</target>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="database" />
	</rules>
</nlog>
